* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input {
  font-family: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}